:root {

    --bg:#f8f7f4;
    --text:#111;
    --muted:#666;
    --white:#fff;

    --border:rgba(17,17,17,.08);

    --shadow:
    0 20px 60px rgba(0,0,0,.08);

    --radius-lg:32px;
    --radius-md:22px;
    --radius-sm:14px;

    --container:1440px;

}


* {

    margin:0;
    padding:0;
    box-sizing:border-box;

}

html,
body{

    width:100%;
    max-width:100%;
    overflow-x:hidden;

}

html {

    scroll-behavior:smooth;

}


body {

    font-family:"Inter",sans-serif;

    background:var(--bg);

    color:var(--text);

}


a {

    text-decoration:none;

    color:inherit;

}


.container {

    width:min(90%,var(--container));

    margin:auto;

}

.header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index:1000;

    background:rgba(255,255,255,0.85);
    backdrop-filter:blur(18px);
    -webkit-backdrop-filter:blur(18px);

    border-bottom:1px solid rgba(0,0,0,0.06);
}


.navbar{

    display:flex;
    align-items:center;
    justify-content:space-between;

    height:90px;

}


.logo-img{

    width:190px;
    height:auto;
    display:block;

}



.nav-links{

    display:flex;
    align-items:center;
    gap:34px;

}


.nav-links a{

    text-decoration:none;
    color:#111;

    font-size:15px;
    font-weight:500;

    transition:.25s ease;

}


.nav-links a:hover{

    color:#777;

}



.nav-button{

    background:#111;
    color:white !important;

    padding:13px 28px;

    border-radius:30px;

}



.mobile-toggle{

    display:none;

    width:46px;
    height:46px;

    border-radius:50%;

    border:1px solid #ddd;
    background:white;

    align-items:center;
    justify-content:center;

    flex-direction:column;
    gap:5px;

}



.mobile-toggle span{

    width:18px;
    height:2px;

    background:#111;

    border-radius:2px;

}




@media(max-width:900px){


.header{

    height:auto;

}


.navbar{

    height:78px;

    padding:0 20px;

}


.logo-img{

    width:160px;

}



.nav-links{

    display:none;

}



.mobile-toggle{

    display:flex;

}


}



/* =====================================
   MOBILE FILTER SHEET DESKTOP LOCK
===================================== */

@media (max-width:900px){

    .mobile-toggle{
        display:block;
    }

    .nav-links{
        display:none;
    }

    .nav-links.active{
        display:flex;
    }

}
