:root{

    --bg:#fafafa;
    --text:#111;
    --muted:#666;

    --card:#fff;

    --radius-xl:40px;
    --radius-lg:28px;

    --shadow:
    0 30px 80px rgba(0,0,0,.06);

    --border:
    1px solid rgba(0,0,0,.06);

}


body{

    background:var(--bg);
    font-family:"Inter",sans-serif;
    color:var(--text);

}



/* GRID */

.properties-grid-section{

    padding:60px 0;

}


.properties-grid{

    width:min(90%,1440px);

    margin:auto;

    display:grid;

    grid-template-columns:
    repeat(3,1fr);

    gap:30px;

}



/* MOBILE */

@media(max-width:900px){

    .properties-grid{

        grid-template-columns:1fr;

    }


}

/* =====================
MAP
===================== */

/* =====================
MAP LAYOUT
===================== */

.properties-layout{

    display:flex;

    gap:30px;

    width:95%;

    height:100vh;

    margin:auto;

}


.map-container{

    width:60%;

    height:600px;

}


#map{

    width:100%;

    height:600px;

}

/* CARDS SIDE */

.properties-scroll{

    flex:1;

    height:calc(100vh - 60px);

    overflow-y:auto;

    scrollbar-width:none;

}


.properties-scroll::-webkit-scrollbar{

    display:none;

}


.property-card{

    background:none;

    border:none;

    box-shadow:none;

}


.property-card img{

    width:100%;

    aspect-ratio:16/10;

    object-fit:cover;

    border-radius:26px;

    display:block;

    box-shadow:
    0 18px 45px rgba(0,0,0,.14);

}


.property-card:hover img{

    transform:translateY(-4px);

    box-shadow:
    0 25px 55px rgba(0,0,0,.20);

}


.property-card img{

    transition:.35s ease;

}


.property-info{

    padding:18px 4px 0;

}


@media(max-width:900px){

    .properties-layout{

        width:90%;

        height:auto;

        flex-direction:column;

        padding:30px 0;

    }


    .map-container{

        width:100%;

        height:50vh;

    }


    .properties-scroll{

        height:auto;

        overflow:visible;

    }

}
