/* =========================
PROPERTIES TOOLBAR
========================= */

.properties-toolbar{

    display:flex;

    align-items:center;

    justify-content:space-between;

    gap:20px;

    padding:30px;

    width:100%;

    box-sizing:border-box;

}


/* SEARCH */

.search-box{

    display:flex;

    align-items:center;

    height:52px;

    background:#fff;

    border:1px solid rgba(0,0,0,.08);

    border-radius:14px;

    padding:0 18px;

    flex:1;

    max-width:520px;

    transition:.25s;

}



.search-box:hover{

    border-color:#b99b62;

}



.search-box span{

    color:#777;

    font-size:24px;

    margin-right:12px;

}



.search-box input{

    border:none;

    outline:none;

    width:100%;

    font-size:15px;

    font-family:inherit;

    color:#222;

}



.search-box input::placeholder{

    color:#999;

}



/* FILTERS */

.filter-group{

    display:flex;

    gap:12px;

}



.filter-group select{

    height:52px;

    padding:0 45px 0 18px;

    border-radius:14px;

    border:1px solid rgba(0,0,0,.08);

    background:white;

    font-size:14px;

    color:#333;

    cursor:pointer;

    appearance:none;

    background-image:

    linear-gradient(45deg,transparent 50%,#777 50%),
    linear-gradient(135deg,#777 50%,transparent 50%);

    background-position:

    calc(100% - 18px) 22px,
    calc(100% - 13px) 22px;

    background-size:

    5px 5px;

    background-repeat:no-repeat;

}



.filter-group select:hover{

    border-color:#b99b62;

}



/* MOBILE */

@media(max-width:900px){

    .properties-toolbar{

        flex-direction:column;

        align-items:stretch;

        padding:30px;

    }


    .search-box{

        max-width:none;

    }


    .filter-group{

        display:grid;

        grid-template-columns:1fr;

    }

}


.price-popup{

position:absolute;

background:white;

border-radius:24px;

padding:25px;

width:360px;

box-shadow:
0 20px 60px rgba(0,0,0,.15);

}


.price-chart{

display:flex;

align-items:flex-end;

height:70px;

gap:4px;

}


.price-chart div{

flex:1;

background:#8b5cf6;

border-radius:4px 4px 0 0;

opacity:.45;

}


.range-slider{

position:relative;

}


input[type=range]{

width:100%;

accent-color:#8b5cf6;

}

.price-filter-wrapper{

    position:relative;

}



.price-popup{

    position:absolute;

    top:60px;

    left:0;

    width:360px;

    background:white;

    border-radius:24px;

    padding:25px;

    box-shadow:
    0 20px 60px rgba(0,0,0,.15);


    display:none;

    z-index:9999;

}



/* when open */

.price-popup.active{

    display:block;

}
