/* ===== NEARBY DESTINATIONS ===== */


@media(max-width:768px){

    .nearby-grid{

        display:flex;

        overflow-x:auto;

        gap:16px;

        scroll-snap-type:x mandatory;

        scrollbar-width:none;

        padding-bottom:10px;

    }


    .nearby-grid::-webkit-scrollbar{

        display:none;

    }


    .nearby-card{

        flex:0 0 85%;

        scroll-snap-align:start;

    }

}


/* =========================
   MOBILE TEAM SLIDER
========================= */

@media(max-width:768px){

    .team-grid{

        display:flex;

        overflow-x:auto;

        overflow-y:hidden;

        gap:18px;

        scroll-snap-type:x mandatory;

        scrollbar-width:none;

        -webkit-overflow-scrolling:touch;

        padding-bottom:10px;

    }

    .team-grid::-webkit-scrollbar{

        display:none;

    }

    .team-card{

        flex:0 0 85%;

        scroll-snap-align:start;

    }

}


/* =========================
      MOBILE GALLERY
========================= */


@media(max-width:900px){

    .mobile-gallery{

        display:block;

        width:100vw;

        margin-left:calc(50% - 50vw);

        border-radius:0;

        position:relative;

    }


    .mobile-slider{

        width:100vw;

        display:flex;

        overflow-x:auto;

        scroll-snap-type:x mandatory;

    }


    .mobile-slider img{

        flex:0 0 100vw;

        width:100vw;

        height:320px;

        object-fit:cover;

        scroll-snap-align:start;

    }

}


/* =========================
      INFO CARDS
========================= */


@media(max-width:900px){

    .card-grid{

        display:flex;

        gap:16px;

        overflow-x:auto;

        padding-bottom:10px;

        scroll-snap-type:x mandatory;

        -webkit-overflow-scrolling:touch;

        scrollbar-width:none;

    }

    .card-grid::-webkit-scrollbar{

        display:none;

    }

    .info-card{

        flex:0 0 85%;

        height:auto;

        min-height:300px;

        scroll-snap-align:start;

    }

}

/* =========================
      ARCHITECTURE & TEAM 
========================= */


@media(max-width:900px){

    .architecture-feature{

        grid-template-columns:1fr;

        gap:24px;

    }

    .architecture-image{

        height:300px;

        border-radius:28px;

    }

    .architecture-content{

        padding:0;

    }

}
