/* ===== NEARBY DESTINATIONS ===== */


@media(max-width:768px){

    .nearby-grid{

        display:flex;

        overflow-x:auto;

        gap:16px;

        scroll-snap-type:x mandatory;

        scrollbar-width:none;

        padding-bottom:10px;

    }


    .nearby-grid::-webkit-scrollbar{

        display:none;

    }


    .nearby-card{

        flex:0 0 85%;

        scroll-snap-align:start;

    }

}


/* =========================
   MOBILE TEAM SLIDER
========================= */

@media(max-width:768px){

    .team-grid{

        display:flex;

        overflow-x:auto;

        overflow-y:hidden;

        gap:18px;

        scroll-snap-type:x mandatory;

        scrollbar-width:none;

        -webkit-overflow-scrolling:touch;

        padding-bottom:10px;

    }

    .team-grid::-webkit-scrollbar{

        display:none;

    }

    .team-card{

        flex:0 0 85%;

        scroll-snap-align:start;

    }

}


/* =========================
      MOBILE GALLERY
========================= */


@media(max-width:900px){

    .mobile-gallery{

        display:block;

        width:100vw;

        margin-left:calc(50% - 50vw);

        border-radius:0;

        position:relative;

    }


    .mobile-slider{

        width:100vw;

        display:flex;

        overflow-x:auto;

        scroll-snap-type:x mandatory;

    }


    .mobile-slider img{

        flex:0 0 100vw;

        width:100vw;

        height:320px;

        object-fit:cover;

        scroll-snap-align:start;

    }

}


/* =========================
      FACTS GRID
========================= */


@media(max-width:900px){

    .facts-grid,
    .snapshot-grid{

        grid-template-columns:repeat(2,1fr);

    }


    .card-grid,
    .amenity-grid,
    .overview-card{

        grid-template-columns:1fr;

    }


    .overview-card{

        padding:35px;

    }


}


@media(max-width:480px){

    .facts-grid,
    .snapshot-grid{

        grid-template-columns:1fr;

    }

}
