.tm-testimonial-card{

    width:100%;

    display:grid;

    grid-template-columns:75% 25%;

    background:#fff;

    border-radius:32px;

    padding:55px 60px;

    border:1px solid rgba(0,0,0,.06);

    box-shadow:
    0 25px 70px rgba(0,0,0,.06);

}



.tm-testimonial-main{

    padding-right:60px;

}



.tm-testimonial-quote{

    font-family:"Cormorant Garamond",serif;

    font-size:34px;

    line-height:1.35;

    color:#111;

    max-width:850px;

    margin-bottom:45px;

}




.tm-testimonial-person{

    display:flex;

    align-items:center;

    gap:22px;

}



.tm-testimonial-person img{

    width:95px;

    height:95px;

    border-radius:50%;

    object-fit:cover;

}



.tm-testimonial-person strong{

    font-size:19px;

    display:block;

    color:#111;

}



.tm-testimonial-person span{

    display:block;

    margin-top:6px;

    color:#777;

    font-size:15px;

}





/* RIGHT SIDE */


.tm-testimonial-rating{

    border-left:1px solid #e5e5e5;

    padding-left:55px;

    display:flex;

    flex-direction:column;

    justify-content:center;

}



.rating-number{

    font-family:"Cormorant Garamond",serif;

    font-size:90px;

    line-height:1;

    font-weight:500;

    color:#111;

}



.tm-testimonial-rating p{

    margin-top:20px;

    color:#777;

    line-height:1.6;

    font-size:15px;

}




@media(max-width:900px){


.tm-testimonial-card{

    grid-template-columns:1fr;

    padding:35px;

}



.tm-testimonial-main{

    padding-right:0;

}



.tm-testimonial-rating{

    border-left:none;

    border-top:1px solid #e5e5e5;

    margin-top:35px;

    padding:35px 0 0;

}



.rating-number{

    font-size:70px;

}


}
