.virtual-showing-section{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:30px;

    background:#fff;

    border:1px solid #ededed;

    border-radius:30px;

    padding:25px;

}



/* LEFT - DATES */

.showing-dates{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:10px;

}



.date-card{

    height:75px;

    border:1px solid #e5e5e5;

    border-radius:18px;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

}


.date-card span{

    font-size:10px;

    color:#777;

}


.date-card strong{

    font-size:25px;

    line-height:1;

}


.date-card small{

    font-size:10px;

    color:#777;

}


.date-card.active{

    background:#111;

    color:#fff;

}



/* RIGHT - TIMES */

.showing-times{

    border-left:1px solid #eee;

    padding-left:30px;

}



.showing-times h3{

    margin:0 0 15px;

    font-size:16px;

}



.time-slots{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:10px;

}



.time-slots button{

    height:38px;

    border-radius:12px;

    border:1px solid #ddd;

    background:white;

    font-size:13px;

}



.time-slots button:hover{

    background:#111;

    color:white;

}



.time-slots .unavailable{

    background:#f5f5f5;

    color:#aaa;

    text-decoration:line-through;

}



/* BOTTOM INFO */

.meeting-info{

    grid-column:1 / -1;

    border-top:1px solid #eee;

    padding-top:15px;

    display:flex;

    justify-content:space-between;

    align-items:center;

}
