.modal{

position:fixed;
inset:0;

background:rgba(0,0,0,.6);

display:none;

justify-content:center;
align-items:center;

z-index:1000;

}


.modal.active{

display:flex;

}


.modal-content{

width:95vw;
height:95vh;

background:white;

border-radius:16px;

overflow:hidden;

position:relative;

}


#dealFrame{

width:100%;
height:100%;

border:0;

}


.close{

position:absolute;

right:25px;
top:20px;

z-index:10;

width:42px;
height:42px;

border-radius:50%;

border:none;

background:white;

font-size:28px;

cursor:pointer;

}
