.modal{

position:fixed;
inset:0;

background:rgba(0,0,0,.6);

display:none;

justify-content:center;
align-items:center;

z-index:1000;

}


.modal.active{

display:flex;

}


.modal-content{

width:95vw;
height:95vh;

background:white;

border-radius:16px;

overflow:hidden;

position:relative;

}


#dealFrame{

width:100%;
height:100%;

border:0;

}


.close{

position:absolute;

right:25px;
top:20px;

z-index:10;

width:42px;
height:42px;

border-radius:50%;

border:none;

background:white;

font-size:28px;

cursor:pointer;

}

.modal-header{

    position:sticky;
    top:0;

    height:72px;

    background:#fff;

    border-bottom:1px solid #dedbd3;

    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:0 24px;

    z-index:1000;

}

.modal-left,
.modal-center,
.modal-right{

    display:flex;
    align-items:center;
    gap:18px;

}

.modal-center{

    position:absolute;
    left:50%;
    transform:translateX(-50%);

}

.modal-logo{

    height:28px;

}

.modal-btn{

    background:none;
    border:none;

    color:#171717;

    font-size:14px;

    cursor:pointer;

    display:flex;
    align-items:center;
    gap:6px;

}

.modal-btn:hover{

    color:#9a8050;

}
