<div class="property-card" 
     onclick="openModal('residence.html','oceanfront-miami-01')">

    <div class="property-image">
        <img src="image.jpg">

        <span class="status">
            Pre-Construction
        </span>
    </div>


    <div class="property-content">

        <h3>
            Oceanfront Residences
        </h3>

        <p>
            Miami Beach, Florida
        </p>


        <div class="property-stats">

            <span>
                2-4 Beds
            </span>

            <span>
                1,850 SF
            </span>

        </div>


        <strong>
            $1.2M+
        </strong>

    </div>

</div>
