<div class="properties-toolbar">


    <!-- SEARCH -->

    <div class="search-box">

        <span class="material-symbols-outlined">
            search
        </span>

        <input
        id="property-search"
        type="text"
        placeholder="Search residences, buildings, locations..."
        >

    </div>



    <!-- FILTER GROUP -->

    <div class="filter-group">



        <!-- =========================
        LOCATION
        ========================= -->


        <div class="filter-dropdown" id="location-dropdown">


            <button 
            class="filter-button"
            id="location-button">


                <span class="filter-label">
                    All Locations
                </span>


                <span class="material-symbols-outlined arrow">
                    keyboard_arrow_down
                </span>


            </button>



            <div class="filter-popup">



                <div class="popup-search">


                    <span class="material-symbols-outlined">
                        search
                    </span>


                    <input
                    type="text"
                    id="location-search"
                    placeholder="Search locations..."
                    >


                </div>




                <div class="popup-options">



                    <button data-value="">
                        All Locations
                    </button>


                    <button data-value="Aventura">
                        Aventura
                    </button>


                    <button data-value="Bal Harbour">
                        Bal Harbour
                    </button>


                    <button data-value="Bay Harbor Islands">
                        Bay Harbor Islands
                    </button>


                    <button data-value="Boca Raton">
                        Boca Raton
                    </button>


                    <button data-value="Brickell">
                        Brickell
                    </button>


                    <button data-value="Brickell Key">
                        Brickell Key
                    </button>


                    <button data-value="Coconut Grove">
                        Coconut Grove
                    </button>


                    <button data-value="Coral Gables">
                        Coral Gables
                    </button>


                    <button data-value="Downtown Miami">
                        Downtown Miami
                    </button>


                    <button data-value="Edgewater">
                        Edgewater
                    </button>


                    <button data-value="Fisher Island">
                        Fisher Island
                    </button>


                    <button data-value="Fort Lauderdale">
                        Fort Lauderdale
                    </button>


                    <button data-value="Hallandale Beach">
                        Hallandale Beach
                    </button>


                    <button data-value="Hollywood">
                        Hollywood
                    </button>


                    <button data-value="Miami Beach">
                        Miami Beach
                    </button>


                    <button data-value="Miami River">
                        Miami River
                    </button>


                    <button data-value="Midtown Miami">
                        Midtown Miami
                    </button>


                    <button data-value="North Bay Village">
                        North Bay Village
                    </button>


                    <button data-value="North Miami">
                        North Miami
                    </button>


                    <button data-value="North Miami Beach">
                        North Miami Beach
                    </button>


                    <button data-value="Palm Beach">
                        Palm Beach
                    </button>


                    <button data-value="Palm Beach Gardens">
                        Palm Beach Gardens
                    </button>


                    <button data-value="Pompano Beach">
                        Pompano Beach
                    </button>


                    <button data-value="South Beach">
                        South Beach
                    </button>


                    <button data-value="Sunny Isles Beach">
                        Sunny Isles Beach
                    </button>


                    <button data-value="Surfside">
                        Surfside
                    </button>


                    <button data-value="West Palm Beach">
                        West Palm Beach
                    </button>


                    <button data-value="Wynwood Miami">
                        Wynwood Miami
                    </button>



                </div>


            </div>


        </div>
        <!-- =========================
        PRICE
        ========================= -->


        <div class="filter-dropdown" id="price-dropdown">


            <button 
            class="filter-button"
            id="price-button">


                <span class="filter-label">
                    Price
                </span>


                <span class="material-symbols-outlined arrow">
                    keyboard_arrow_down
                </span>


            </button>



            <div class="filter-popup price-popup">



                <div class="price-range-values">


                    <input 
                    id="min-price"
                    type="number"
                    value="500000">


                    <input 
                    id="max-price"
                    type="number"
                    value="10000000">


                </div>




                <div class="range-slider">


                    <div class="slider-track"></div>


                    <input
                    id="min-range"
                    type="range"
                    min="0"
                    max="20000000"
                    value="500000">


                    <input
                    id="max-range"
                    type="range"
                    min="0"
                    max="20000000"
                    value="10000000">


                </div>




                <div class="price-chart">


                    <div style="height:20%"></div>
                    <div style="height:45%"></div>
                    <div style="height:80%"></div>
                    <div style="height:100%"></div>
                    <div style="height:60%"></div>
                    <div style="height:30%"></div>


                </div>




                <div class="popup-footer">


                    <button class="reset-filter">
                        Reset
                    </button>


                    <button class="apply-filter">
                        Apply
                    </button>


                </div>



            </div>


        </div>






        <!-- =========================
        PROPERTY TYPE
        ========================= -->


        <div class="filter-dropdown" id="property-type-dropdown">


            <button 
            class="filter-button"
            id="property-type-button">


                <span class="filter-label">
                    All Property Types
                </span>


                <span class="material-symbols-outlined arrow">
                    keyboard_arrow_down
                </span>


            </button>




            <div class="filter-popup">


                <div class="popup-options">


                    <button data-value="">
                        All Property Types
                    </button>


                    <button data-value="New Construction">
                        New Construction
                    </button>


                    <button data-value="Pre-Construction">
                        Pre-Construction
                    </button>


                    <button data-value="Other">
                        Other
                    </button>


                </div>


            </div>


        </div>







        <!-- =========================
        COMPLETION
        ========================= -->


        <div class="filter-dropdown" id="completion-dropdown">


            <button 
            class="filter-button"
            id="completion-button">


                <span class="filter-label">
                    Completed By
                </span>


                <span class="material-symbols-outlined arrow">
                    keyboard_arrow_down
                </span>


            </button>




            <div class="filter-popup">


                <div class="popup-options">


                    <button data-value="">
                        Completed By
                    </button>


                    <button data-value="2026">
                        2026
                    </button>


                    <button data-value="2027">
                        2027
                    </button>


                    <button data-value="2028">
                        2028
                    </button>


                    <button data-value="2029">
                        2029
                    </button>


                    <button data-value="2030">
                        2030+
                    </button>


                </div>


            </div>


        </div>        
        
        <!-- =========================
        SORT
        ========================= -->


        <div class="filter-dropdown" id="sort-dropdown">


            <button 
            class="filter-button"
            id="sort-button">


                <span class="filter-label">
                    Sort By
                </span>


                <span class="material-symbols-outlined arrow">
                    keyboard_arrow_down
                </span>


            </button>




            <div class="filter-popup">


                <div class="popup-options">


                    <button data-value="">
                        Sort By
                    </button>


                    <button data-value="price-low">
                        Price: Low to High
                    </button>


                    <button data-value="price-high">
                        Price: High to Low
                    </button>


                    <button data-value="name">
                        Name A-Z
                    </button>


                    <button data-value="location">
                        Location
                    </button>


                </div>


            </div>


        </div>



    </div>
    <!-- CLOSE FILTER GROUP -->


</div>
<!-- CLOSE PROPERTIES TOOLBAR -->
















